.used {
  color: red;
}
.btn-logOut {
  outline: none;
  background: blue;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
}
